*{margin:0;padding:0;font-family: Quotes, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;}
*{box-sizing: border-box;} 
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}
a{text-decoration: none;}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
html{
  width: 100%;
  
}
body{
  width: 1010px;
  font-size: 14px;
  margin: 0 auto;
}
.wrapper{
  display:flex;
  width: 100%;
  background: linear-gradient(to bottom, #f4f3f2 30%,#c4c4c4 100%);
  border: 0.1px solid #f4f3f2;
}


/* aside */
aside{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 260px;
  background: white;
  margin: 20px;
}
.ID-card{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 260px;
  background: #0C83AD;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.avatar-wrapper1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.avatar-wrapper{
  display: flex;
  width: 140px;
  height: 140px;
  border: 1px solid white;
  background: #FFFFFF;
  border-radius: 16px;
  transform: rotateZ(45deg);
  box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.5);
}
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0C83AD;
  border-radius: 10px;
  margin: 8px;
  flex: 1;
  overflow: hidden;
}
.avatar>img{
  transform: rotateZ(-45deg);
}
.name-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 18px;
}
.name {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  letter-spacing: 16.5px;
  margin-bottom: 10px;
}
.name>span{
  letter-spacing: 3px;
}
.job{
  color:white;
  font-size: 16px;
  display: flex;
  justify-content:space-between;
  width: 202px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.job>span{
  display: inline;
}

/* //// */
.personal,.skills,.contact,.blog,.diff{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.diff{
  margin-top: 18.5px;
  margin-bottom: 13px;
}
.blog a{
  margin: 10px;
}
.blog .jianshu{
  font-size: 40px;
}
.blog .hudie{
  font-size: 43px;
}
.blog .zhihu{
  font-size: 37px;
}
.blog .link{
  display: flex;
  justify-content: space-around;
}
.diff .tag span{
  background: #0C83AD;
  color: white;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin: 10px;
  box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.personal-wrapper,.skills-wrapper,.contact-wrapper,.blog-wrapper,.diff-wrapper{
  width: 249px;
  font-size: 16px;
}
.personal h1,.skills h1,.contact h1,.blog h1,.diff h1{
  color: #878787;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-left: 22px;
}
.myInf,.myskills,.myCon,.myBlog{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 22px;
  font-weight: bolder;
  fill: #0C83AD;
}
.personal .inf{
  color: black;
  letter-spacing: 5px;
  margin-left: 22px;
}
.personal .inf>:first-child{
  color:#878787;
}
.personal .inf:last-child{
  color: black;
}
.skills .type{
  color: black;
  margin-left: 22px;
  font-weight: bolder;
}
.skills .star{
  display: flex;
  justify-content: space-between;
  margin: 10px 22px 20px;
}
.contact .inf{
  color: black;
  margin-left: 22px;
}
.contact .inf>:first-child{
  color:#878787;
  letter-spacing: 5px;
}
.contact .inf>span:nth-child(2n){
  color: black;
  letter-spacing: 1px;
}



/* main */
main{
  width: 690px;
  background:#FFFFFF;
  margin: 20px 20px 20px 0;
}
.myProject{
  font-size: 37px;
  margin: 0 25px 25px 0;
}
.project {
  padding: 5px 25px 5px 25px;;
}
.title-wrapper{
  display: flex;
}
.project h1{
  font-size: 25px;
}
.project .content-wrapper{
  border-left: 2px solid #8F1563;
  margin-left: 17px;
  padding-left: 42px;
  position: relative;
}
.project .content-wrapper::before{
  content: '';
  display: inline-block;
  border: 6px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  transform: translate(-50%,-50%);
}
.project .content-wrapper::after{
  content: '';
  display: inline-block;
  border: 4px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -0.5px;
  bottom: 0;
  transform: translate(-50%,0);
}

.project .content-wrapper .row{
  margin-bottom: 5px;
  display: flex;
}
.project .content-wrapper p{
  width: 460px;
  display: flex;
}
.project .content-wrapper p>span:first-child{
  min-width: 5em;
  display: inline-block;
}

.project .content-wrapper .gou{
  font-size: 20px;
  margin: 5px 10px 5px 5px;
  width: 1em;
  height: 1em;
}
.project .content-wrapper .row{
  margin-bottom: 5px;
  display: flex;
}

.project .content-wrapper .company{
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}

.project .content-wrapper .company-work-title{
  flex: 1;
}

.project .content-wrapper .company-work-content{
  flex: 6;
}

.project .content-wrapper .company-work-content li{
  margin-bottom: 5px;
}

.education{
  padding: 15px 25px;
  
}
.education .myEducation{
  font-size: 37px;
  margin: 0 25px 15px 0;
}
.education h1{
  font-size: 25px;
}
.education .content-wrapper{
  border-left: 2px solid #8F1563;
  margin-left: 17px;
  padding-left: 42px;
  position: relative;
}
.education .content-wrapper::before{
  content: '';
  display: inline-block;
  border: 6px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  transform: translate(-50%,-50%);
}
.education .content-wrapper::after{
  content: '';
  display: inline-block;
  border: 4px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -0.5px;
  bottom: 0;
  transform: translate(-50%,0);
}

.education .content-wrapper p{
  width: 420px;
}

.education .content-wrapper .gou{
  font-size: 20px;
  margin: 5px 10px 5px 5px;
  width: 1em;
  height: 1em;
}
.education .content-wrapper .row{
  margin-bottom: 5px;
  display: flex;
}

.education .content-wrapper .company{
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}

.work{
  padding: 10px 25px;
}
.myWork{
  font-size: 37px;
  margin: 0 25px 15px 0;
}
.work h1{
  font-size: 25px;
}
.work .content-wrapper{
  border-left: 2px solid #8F1563;
  margin-left: 17px;
  padding-left: 42px;
  position: relative;
}
.work .content-wrapper::before{
  content: '';
  display: inline-block;
  border: 6px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  transform: translate(-50%,-50%);
}
.work .content-wrapper::after{
  content: '';
  display: inline-block;
  border: 4px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -0.5px;
  bottom: 0;
  transform: translate(-50%,0);
}

.work .content-wrapper .gou{
  font-size: 20px;
  margin: 5px 10px 5px 5px;
  width: 1em;
  height: 1em;
}
.work .content-wrapper .row{
  margin-bottom: 5px;
  display: flex;
}

.work .content-wrapper .company{
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}

.work .content-wrapper .company-work-title{
  flex: 1;
}

.work .content-wrapper .company-work-content{
  flex: 6;
}

.work .content-wrapper .company-work-content li{
  margin-bottom: 5px;
}

.pursuit{
  padding: 10px 25px;
}
.myPursuit{
  font-size: 37px;
  margin: 0 25px 20px 0;
}
.pursuit h1{
  font-size: 25px;
}
.pursuit .content-wrapper{
  border-left: 2px solid #8F1563;
  margin-left: 17px;
  padding-left: 42px;
  position: relative;
}
.pursuit .content-wrapper::before{
  content: '';
  display: inline-block;
  border: 6px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  transform: translate(-50%,-50%);
}
.pursuit .content-wrapper::after{
  content: '';
  display: inline-block;
  border: 4px solid #8F1563;
  border-radius: 100%;
  position: absolute;
  left: -0.5px;
  bottom: 0;
  transform: translate(-50%,0);
}
.pursuit .content-wrapper .gou{
  font-size: 20px;
  margin: 5px 10px 5px 5px;
  width: 1em;
  height: 1em;
}

.pursuit .content-wrapper .row{
  margin-bottom: 5px;
  display: flex;
}

.pursuit .content-wrapper .company{
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}

.pursuit .content-wrapper .company-work-content li{
  margin-bottom: 5px;
}

.design{
  font-size: 31px;
  display: flex;
}
.design svg{
  margin-left: 25px;
  margin-right: 25px;
}
.design span{
  font-size: 16px;
}

.introduce .row {
  display: flex;
  align-items: center;
}

.introduce .row p {
  display: flex;
  align-items: baseline;
}


